 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: stretch;
  
}

.card-container {
    display: flex;
    white-space: nowrap; 
    overflow-x: auto;
    width: 100%;
}

.card1 {
    width: 300px; 
    height: 200px; 
    margin-right: 20px; 
    
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px; 
    transition: box-shadow 0.3s ease; 
}

.card1:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.page2{
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: stretch;
  
}

.card-container2{
    display: flex;
    white-space: nowrap; 
    overflow-x: auto;
    width: 100%;
}
.title{
    color:#fff;
}
